---
import Layout from '../layouts/Layout.astro';

import GlideSlider from '../components/GlideSlider.astro';
import VideoModal from '../components/VideoModal.astro';

import '../styles/global.css';

import * as tmdb from '../lib/tmdb';

const nowPlayingMovies = await tmdb.getNowPlayingMovies();
const popularMovies = await tmdb.getPopularMovies();
const trendingMoviesDay = await tmdb.getTrendingMoviesDay();
const trendingMoviesWeek = await tmdb.getTrendingMoviesWeek();


const popularSeries = await tmdb.getPopularSeries();

---

<Layout title="Inicio">
	<main>
		<GlideSlider title="Películas Populares" items={nowPlayingMovies} typeSlider="single" />

		<GlideSlider title="Tendencias" items={trendingMoviesDay} btnContainer={true} typeSlider="multiple"/>

		<GlideSlider title="Películas en Cartelera" typeSlider="video"/>

		<GlideSlider title="Películas Populares" items={popularMovies} typeSlider="multiple"/>

		<GlideSlider title="Series Populares" items={popularSeries} typeSlider="multiple"/>

		<!-- Teaser Player Dialog -->
		<VideoModal />


	</main>
</Layout>


<script>
  import "../lib/carousel.js";
</script>

