---
import GenrePill from "@components/UI/GenrePill.astro";
import Layout from "@layouts/Layout.astro";
import { getMovieDetails } from "@lib/tmdb";
import { formatDate, formatVoteAverage } from "@components/MovieCard.astro";
import { formatVotes } from "@components/MovieList";
import ProgressSpinner2 from "@components/UI/ProgressSpinner2.astro";
import GlideSlider from "@components/Sliders/GlideSlider.astro";


const id = Astro.url.href.split('/').pop();

const movie = await getMovieDetails(id);
console.log(movie);

const { 
  title, 
  release_date,
  backdrop_path,
  vote_average, 
  genres, 
  overview, 
  poster_path, 
  vote_count ,
  runtime,
  credits
} = movie;

const year = new Date(release_date).getFullYear();

---

<Layout title={title}>
  <main>
    <div class="container-fluid py-20 flex justify-center items-center bg-cover bg-no-repeat" style={`background-image: url(https://image.tmdb.org/t/p/original${backdrop_path})`}>
      <div class="movie-info flex items-start gap-12 xl:max-w-[1200px] overflow-hidden">
        <img class="w-2/6 rounded-xl" src={`https://image.tmdb.org/t/p/original${poster_path}`} alt={title} />
        <div class="flex flex-col justify-start items-start gap-10 mt-4">
          <div class="flex flex-col items-start">
            <h1 class="flex items-center gap-2 text-4xl font-bold text-white">
              {title} <p class="pt-1 font-medium text-gray-400">({year})</p>
            </h1>
            <div class="flex items-center gap-2">
              <span class="text-gray-400">{runtime} min</span>
              <span class="text-gray-400"> | </span>
              <span class="text-gray-400">{formatDate(release_date)}</span>
            </div>
            <div class="flex items-center gap-1 mt-4">
              {
                genres.map((genre: any) => (
                  <GenrePill genre={genre.name}/>
                ))
              }
            </div>
            <p class="text-gray-200 mt-6 text-pretty">{overview}</>
          </div>
          <div class="flex items-center gap-4">
            <ProgressSpinner2  percentage={formatVoteAverage(vote_average)} size={80}/>
            <div class="flex flex-col items-start">
              <span class="text-white text-xl font-bold">Puntuación de los usuarios</span>
              <span class="text-gray-400">Votos totales: {formatVotes(vote_count)}</span>
            </div>
          </div>
          <!-- <GlideSlider title="Reparto" items={credits} typeSlider="cast" /> -->
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .container-fluid {
    position: relative;
  }

  .container-fluid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9); /* Capa negra con opacidad */
    z-index: 0;
  }
  .movie-info {
    z-index: 1;
  }
</style>

<script>
  import "@lib/carousel.js";
</script>