---
import GenrePill from "@components/UI/GenrePill.astro";
import Layout from "@layouts/Layout.astro";
import {
  formatDate,
  formatRuntime,
  formatVoteAverage,
  formatVotes,
} from "src/common";
import { ProgressSpinner } from "@components/UI/ProgressSpinner";
import { getMovieById, type MovieDetails } from "@lib/api/movies";
import type { Crew } from "@lib/api/media";
import SimilarMoviesGlide from "@components/Sliders/SimilarMoviesGlide";
import CreditsCastSection from "@components/CreditsCastSection.astro";
import VideoModalComponent from "@components/UI/VideoModal";

const url = new URL(Astro.request.url);
const id = Number(url.pathname.split("/")[2]);
const movie: MovieDetails = await getMovieById(id);
---

<Layout title={movie.title}>
  <main>
    <div
      class="container-fluid px-4 py-20 flex justify-center items-center bg-cover bg-no-repeat"
      style={`background-image: url(https://image.tmdb.org/t/p/original${movie.backdrop_path})`}
    >
      <div
        class="movie-info flex flex-col gap-12 items-stretch xl:max-w-[1200px] overflow-hidden"
      >
        <div class="flex flex-col sm:flex-row items-start gap-12">
          <img
            class="aspect-auto w-2/6 h-auto rounded-xl object-cover"
            src={`https://image.tmdb.org/t/p/original${movie.poster_path}`}
            alt={movie.title}
          />
          <div class="flex flex-col justify-start items-start gap-6">
            <div class="flex flex-col items-start">
              <h1
                id="movie-title"
                class="flex flex-col items-start gap-2 text-5xl font-bold text-white leading-tight lg:flex-row lg:items-center"
              >
                {movie.title}
                <p class="pt-1 font-medium text-gray-400 text-4xl">
                  ({new Date(movie.release_date).getFullYear()})
                </p>
              </h1>
              <div class="flex items-center gap-2 text-lg mt-4">
                <span class="text-gray-300">{formatRuntime(movie.runtime)}</span
                >
                <span class="text-gray-300"> | </span>
                <span class="text-gray-300"
                  >{formatDate(movie.release_date)}</span
                >
              </div>
              <div class="flex flex-wrap items-center gap-1 gap-y-4 mt-4">
                {
                  movie.genres.map((genre: any) => (
                    <GenrePill className="text-sm px-4" genre={genre.name} />
                  ))
                }
              </div>
              <p class="text-gray-400 mt-4 text-pretty italic">
                {movie.tagline}
              </p>
            </div>
            <div class="flex items-center gap-4 w-full">
              <ProgressSpinner
                client:only="react"
                percentage={formatVoteAverage(movie.vote_average)}
                size={80}
              />
              <div class="flex flex-col items-start">
                <span class="text-white text-xl font-bold"
                  >Puntuación de los usuarios</span
                >
                <span class="text-gray-400"
                  >Votos totales: {formatVotes(movie.vote_count)}</span
                >
              </div>
            </div>
            <div class="flex flex-col items-start gap-8">
              {
                movie.providers && movie.providers.length > 0 && (
                  <div class="flex flex-col gap-y-2">
                    <h2 class="text-white font-semibold text-lg">
                      Disponible en
                    </h2>
                    <div class="flex items-center gap-6">
                      {movie.providers.map((item: any) => (
                        <img
                          class="w-14 rounded-xl"
                          src={`https://image.tmdb.org/t/p/original${item.logo_path}`}
                          alt={item.provider_name}
                        />
                      ))}
                    </div>
                  </div>
                )
              }
              {
                movie.videos && movie.videos.length > 0 && (
                  <VideoModalComponent
                    client:only="react"
                    videoId={movie.videos[0].key}
                  />
                )
              }
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-12">
          <div>
            <h2 class="text-white font-semibold text-2xl">Vista General</h2>
            <p class="text-gray-300 mt-4">{movie.overview}</p>
          </div>
          <div class="grid grid-cols-3 gap-12">
            {
              movie.credits.crew
                .sort((a: Crew, b: Crew) => b.popularity - a.popularity)
                .slice(0, 5)
                .map((item: any) => (
                  <div class="flex flex-col justify-start items-start">
                    <h3 class="text-white font-semibold">{item.name}</h3>
                    <p class="text-gray-200 font-thin">{item.job}</p>
                  </div>
                ))
            }
          </div>
        </div>
      </div>
    </div>
    <CreditsCastSection item={movie} />
    {
      movie.providers && movie.providers.length > 0 && (
        <SimilarMoviesGlide
          client:only="react"
          id={movie.providers[0].provider_id}
        />
      )
    }
  </main>
</Layout>

<style>
  .container-fluid {
    position: relative;
  }

  .container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Capa negra con opacidad */
    z-index: 0;
  }
  .movie-info {
    z-index: 1;
  }
</style>
