---
import ProgressSpinner from "./UI/ProgressSpinner.astro";

const { title, release_date, poster_path, vote_average, id, first_air_date, name } = Astro.props;

function formatVoteAverage(vote_average: number) {
  return Math.round(vote_average * 10);
}

export function formatDate(date: string) {
  const fecha = new Date(date);
  const day = fecha.getDate();
  const months = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
  const month = months[fecha.getMonth()];
  const year = fecha.getFullYear();
  return `${day} ${month} ${year}`;
}

---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const movieCards = document.querySelectorAll('.movieCard');
  
    movieCards.forEach((movieCard) => {
      movieCard.addEventListener('click', () => {
        const movieId = movieCard.id;
        if (movieId){
          const baseUrl = "/peliculas/";
          window.location.href = `${baseUrl}?id=${movieId}`;
        }
      });
    });
  })
</script>

<div id={id} class="movieCard relative flex flex-col items-start justify-center gap-2" >
  <div class="movie-img-container flex items-center justify-center rounded-xl overflow-hidden cursor-pointer">
    <img class="w-full" src={`https://image.tmdb.org/t/p/original${poster_path}`} loading="lazy" />
    <ProgressSpinner percent={formatVoteAverage(vote_average)} />
  </div>
  <div class="flex flex-col items-start ">
    {title ? <h2 class="text-white text-sm">{title}</h2> : <h2 class="text-white text-sm">{name}</h2>}
    {release_date ? <p class="text-gray-300 text-sm">{formatDate(release_date)}</p> : <p class="text-gray-300 text-sm">{formatDate(first_air_date)}</p>}
  </div>
</div>

