---
interface Props {
  percent: number;
  size?: number;
  strokeWidth?: number;
  className?: string;
}

const {
  percent,
  size = 80,
  strokeWidth = 4,
  className
} = Astro.props;

const radius = (size - strokeWidth) / 2;
const circumference = radius * 2 * Math.PI;
const dashoffset = circumference - (percent / 100) * circumference;

function getColor(percent: number): string {
  if (percent >= 70) return "#22c55e"; // green
  if (percent >= 30) return "#eab308"; // yellow
  return "#ef4444"; // red
}

const color = getColor(percent);

---

<div class={`progress-spinner-container ${className}`}>
  <div class="progress-spinner" style={`width: ${size}px; height: ${size}px;`}>
    <svg viewBox={`0 0 ${size} ${size}`}>
      <circle
        class="progress-spinner__background"
        cx={size / 2}
        cy={size / 2}
        r={radius}
        stroke-width={strokeWidth}
      />
      <circle
        class="progress-spinner__progress"
        cx={size / 2}
        cy={size / 2}
        r={radius}
        stroke-width={strokeWidth}
        stroke-dasharray={circumference}
        stroke-dashoffset={dashoffset}
      />
    </svg>
    <span class="progress-spinner__text">{percent}%</span>
  </div>
</div>

<style define:vars={{ color }}>
  .progress-spinner-container {
    background: #13151ae3;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  .progress-spinner {
    position: relative;
    display: inline-block;
    
  }

  .progress-spinner svg {
    transform: rotate(-90deg);
  }

  .progress-spinner__background {
    fill: none;
    stroke: #e5e7eb;
  }

  .progress-spinner__progress {
    fill: none;
    stroke: var(--color);
    transition: stroke-dashoffset 0.3s ease;
  }

  .progress-spinner__text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--color);
  }
</style>